.add-recipe form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    margin-top: 10px;
  }
  
  input, textarea {
    padding: 8px;
    margin-top: 5px;
  }
  
  button {
    margin-top: 20px;
    padding: 10px;
  }
  